<% @posts.each do |post| %>
    <h1 class="content-subhead"><%= post.created_at.to_s(:long) %></h1>
    <section class="post">
        <header class="post-header">
            <img class="post-avatar" alt="Eric Ferraiuolo's avatar" height="48" width="48" src="/img/common/ericf-avatar.png">

            <h2 class="post-title"><%= link_to post.title, post_path(post) %></h2>

            <p class="post-meta">
                Under: <a class="post-category post-category-js" href="#">JavaScript</a>
            </p>
        </header>

        <div class="post-description">
            <p><%= truncate(post.text) { link_to "Continue", post_path(post) } %></p>
        </div>
    </section>
<% end %>