<section class="post" id="">
    <header class="post-header">
        <img class="post-avatar" alt="Tilo Mitra's avatar" height="350" width="350" src="/img/common/tilo-avatar.png">

        <h2 class="post-title"><%= @post.title %></h2>

        <p class="post-meta">
            By <a href="#" class="post-author">Tilo Mitra</a> under <a class="post-category post-category-design" href="#">CSS</a> <a class="post-category post-category-pure" href="#">Pure</a>
        </p>
    </header>

    <div class="post-description" id="">
        <p id=""><%= @post.text %></p>
    </div>
</section>
		